.regForm{
    display:none;
}

.btn{
    background: rgba(250, 150, 0, 1); 
    border: 0px solid rgba(255, 123, 0, 1); 
    border-radius: 0px; 
    padding: 10px 30px 10px 30px;
}

.banner{
	background-image:url(../images/service.jpg);
	background-size:cover;
	color:#fff;
	padding:100px;
	background-position:center;
    background-size: 100%;
}

#myfirstchart{
    margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin: 1px;
  padding: 5px 10px;
}

.sortable-ghost {
  opacity: .6;
}

/*
.breadcrumb {
    background: rgba(250, 150, 0, 1); 
    border: 0px solid rgba(255, 123, 0, 1); 
    border-radius: 0px; 
    display: block;
}

.breadcrumb li {
    font-size: 19px;
}
.breadcrumb a {
    color: rgba(255, 255, 255, 1);
}

.breadcrumb a:hover {
    color: rgba(42, 100, 150, 1);
}

.breadcrumb>.active {
    color: rgba(71, 45, 5, 1);
}

.breadcrumb>li+li:before {
    color: rgba(89, 89, 87, 1); content: "\276F\00a0";
}

.breadcrumb{
    padding: 20px;
}
*/